<div>
  <div>
    <div style="display: block; width: 400px; height: 800px">
      <canvas
        baseChart
        [colors]="chartColors"
        [datasets]="currentData"
        [labels]="currentBarChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
      <button
        mat-button
        mat-raised-button
        color="primary"
        (click)="randomize()"
      >
        Update
      </button>
      <button mat-button (click)="leftArrow()" [disabled]="currentPos === 0">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-button (click)="rightArrow()" [disabled]="currentPos === 1">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
