<div class="objectif-item" (click)="openRemplirDialog()">
  <div class="objectif-img-container">
    <div class="objectif-img">
      <img [src]="imageUrl" />
    </div>
  </div>
  <div class="objectif-content">
    <span class="objectif-title">
      {{ objectif.label }}
    </span>
    <span class="objectif-time">
      {{ objectif.time }}
    </span>
  </div>
  <div class="objectif-dots" routerLink="/objectif/{{ objectif.name }}">
    <mat-icon [inline]="true">more_horiz</mat-icon>
  </div>
</div>
