<div *ngIf="openState" class="behind-sliding" (click)="open()"></div>

<mat-card class="sliding-top-card toolbar" [@openSlidingDialog]="openState">
  <div class="plus-sliding" (click)="open()">
    <mat-icon class="plus-sliding-icon" [inline]="true"
      >add_circle_outline</mat-icon
    >
  </div>
  <div class="sliding-content" (click)="openIfNot()">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-content>
      <ng-content></ng-content>
    </mat-card-content>
  </div>
</mat-card>
