.dashboard-page {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  color: #33671b;

  .dashboard-header {
    height: 10vh;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1.5fr 3.5fr 1.5fr;

    padding: 0 0;

    margin-bottom: 10px;

    .header-settings-icon {
      height: 5vh;
      mat-icon {
        font-size: 5vh;
      }
    }

    .discussion-message {
      text-align: center;
      background-color: #33671b;
      color: white;
      padding: 0 15px;
      border-radius: 10px;
      width: calc(100% - 30px);
      height: 10vh;

      font-size: calc(1.2vh + 2vw);
      line-height: calc(1.2vh + 2vw);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    .header-profile-pic {
      height: 8vh;
      img {
        border-radius: 999px;
        width: auto;
        height: 100%;
      }
    }
  }

  .dashboard-content {
    padding: 0 20px;
    .dashboard-title {
      margin-bottom: 15px;
      span {
        font-size: 1.5em;
        font-weight: bold;
        font-family: BalooBhaiBold;
      }
    }

    .objectif-item-list {
      display: grid;
      grid-auto-rows: 1fr;
      row-gap: 20px;
    }
  }
}
