<div class="dashboard-content">
  <header class="dashboard-header">
    <div class="header-settings-icon">
      <mat-icon [inline]="true" color="primary">settings</mat-icon>
    </div>
    <div class="discussion-message" #messageContainer>
      <span *ngFor="let messagePart of message">
        {{ messagePart }}
      </span>
    </div>
    <div class="header-profile-pic">
      <img src="assets/images/photo-profil.png" />
    </div>
  </header>
  <div class="dashboard-title">
    <span>Dashboard</span>
  </div>
  <div class="objectif-item-list">
    <app-objectif-item
      *ngFor="let objectif of objectifs"
      [objectif]="objectif"
    ></app-objectif-item>
  </div>
</div>

<app-ajout-objectif></app-ajout-objectif>
