/* For use in _color-definitions.scss */
$palette-kronos: (
  50: #ecf2e8,
  100: #d0dfc5,
  200: #b0ca9f,
  300: #90b578,
  400: #79a55b,
  500: #61953e,
  600: #598d38,
  700: #4f8230,
  800: #457828,
  900: #33671b,
  A100: #beffa3,
  A200: #9aff70,
  A400: #76ff3d,
  A700: #64ff24,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
